/* reset */
/*******************************************************************************

- removes default styling (padding, list-style, font-size, borders, ...)
- sets sane defaults (border-box, border-collapse, ...)

*******************************************************************************/
:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  word-break: break-word;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-decoration: none;
  -webkit-text-stroke: 0 currentColor;
}

:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow: auto;
  resize: vertical;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

button,
[aria-controls] {
  cursor: pointer;
}
[aria-disabled],
[disabled] {
  cursor: not-allowed;
}
[aria-busy="true"] {
  cursor: progress;
}

/* cross browser fixes */
/******************************************************************************/
main, dialog {
  display: block;
}

dialog:not([open]) {
  display: none;
}